@model IEnumerable<SCADA_A.Entidades.OnePieceFlow.OrdenKit>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orden.CodigoColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kit.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idOrdenKit">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idOrdenKit">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idOrdenKit">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
